.productspagescreen {
  max-width: 1250px;
  margin: 3rem auto;
  margin-top: 80px;
}

.productspagescreen__title {
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-left: 8px;
}

.productspagescreen__products {
  display: grid;
  grid-template-columns: repeat(4, 10fr);
}

@media (max-width: 1232px) {
  .productspagescreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 950px) {
  .productspagescreen__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 630px) {
  .productspagescreen__products {
    grid-template-columns: 1fr;
  }
}

